body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#heroPhoto {
  width: 100%;
  height: 25%;
  object-fit: cover;
  object-position: center;
}
.heroSection, .heroContent {
  position: relative;
}
#hero-pic {
  display: block;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #d6d6d6;
}
.bio-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.bio-content {
  width: 90%;
}

.bio-content h1 {
  text-align: left;
}

.bio-content p {
  text-align: justify;
}

.bio-content a {
  margin: 5px;
  padding: 13px 8px;
  background-color: rgb(42, 101, 211);
  text-decoration: none;
  color: rgb(224, 224, 224);
  border-radius: 10px;
  transition: 0.3s ease;
}

.bio-content a:hover {
  background-color: rgb(228, 228, 228);
  color: black;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(106, 185, 185);
}

.skill-item {
  margin-top: 10px;
  width: 200px;
}
.skills-section p{
  width: 90%;
  text-align: justify;
}
.prog {
  width: 300%
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: auto;
  text-align: center;
}

.card{
  background-color: rgb(156, 39, 39);
}
.port {
  text-align: center;
}


.footer {
  background-color: #5168e7;
  padding: 20px;
  text-align: center;
  background-color: rgb(204, 205, 206);
}

.social-icons a{
  margin: 10px;
  color: rgb(15, 37, 77);
  transition: 0.3s ease;
}
.social-icons a:hover{
  color: rgb(23, 23, 23);

}
.footerEmail {
  margin-top: 20px;
}

